.homeContainer {
    height: 75vmin;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.linkContainer {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.appTitle {
    font-family: 'Bagerich', sans-serif;
    font-size: 5rem;
}

.linkItem {
    text-decoration: none;
    color: white;
}