* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bagerich';
  src: local('../fonts/Bagerich/BagerichRegular.eot') format('eot');
  src: local('../fonts/Bagerich/BagerichRegular.svg') format('svg');
  src: local('../fonts/Bagerich/BagerichRegular.ttf') format('ttf');
  src: local('../fonts/Bagerich/BagerichRegular.woff') format('woff');
  src: local('../fonts/Bagerich/BagerichRegular.woff2') format('woff2');
}

@font-face {
  font-family: "Brightfate";
  src: local('../fonts/Brightfate/BrightfateRegular.eot' format('eot'));
  src: local('../fonts/Brightfate/BrightfateRegular.svg' format('svg'));
  src: local('../fonts/Brightfate/BrightfateRegular.ttf' format('tff'));
  src: local('../fonts/Brightfate/BrightfateRegular.woff' format('woff'));
  src: local('../fonts/Brightfate/BrightfateRegular.woff2' format('woff2'));
}

html {
  background-color: #2a2a2a;
}

.App {
  display: flex;
  flex-flow: column;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vmin;
  
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
